

:host([theme~="weekend-highlight"]) [aria-label^="1 January"] {
    color: var(--lumo-error-text-color);
}
:host([theme~="weekend-highlight"]) [aria-label^="2 January"] {
    color: var(--lumo-error-text-color);
}
:host([theme~="weekend-highlight"]) [aria-label^="1 August"] {
    color: var(--lumo-error-text-color);
}

:host([theme~="weekend-highlight"]) [aria-label^="24 December"] {
    color: var(--lumo-error-text-color);
}
:host([theme~="weekend-highlight"]) [aria-label~="Sunday"] {
    background: #ffe8e8!important;
    color: var(--lumo-secondary-text-color)!important;
}
:host([theme~="weekend-highlight"]) [aria-label~="Saturday"] {
    background: #ffe8e8!important;
    color: var(--lumo-secondary-text-color)!important;
}
:host([theme~="weekend-highlight"]) [aria-label^="25 December"] {
    color: var(--lumo-error-text-color);
}

:host([theme~="weekend-highlight"]) [aria-label^="26 December"] {
    color: var(--lumo-error-text-color);
}

