html {
   --theme-color: #00A9C5;
}
vaadin-vertical-layout.main-menu-vertical{
   justify-content: center;
   align-items: center;
   width:100%;
   height:100%;
}
.main-menu-calDiv{
   background: linear-gradient(178deg, rgb(160 190 207 / 78%) 30%, rgb(0, 169, 197) 80%);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 300px;
   height: 215px;
   border-radius: 3%;
}
.main-menu-workDiv{
   background: linear-gradient(178deg, rgb(160 190 207 / 78%) 30%, rgb(0, 169, 197) 80%);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 300px;
   height: 215px;
   border-radius: 3%;
}
.main-menu-accDiv{
   background: linear-gradient(178deg, rgb(160 190 207 / 78%) 30%, rgb(0, 169, 197) 80%);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 300px;
   height: 215px;
   border-radius: 3%;
}
.main-menu-mapDiv{
   background: linear-gradient(178deg, rgb(160 190 207 / 78%) 30%, rgb(0, 169, 197) 80%);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 300px;
   height: 215px;
   border-radius: 3%;
}
.h2-calDiv {
   color: #006474;
}
.h2-workDiv {
   color: #006474;
}
.h2-accDiv {
   color: #006474;
}
.h2-mapDiv {
   color: #006474;
}


.icon-calDiv {
   color: #006474;
}
.icon-workDiv {
   color: #006474;
}
.icon-accDiv {
   color: #006474;
}

.icon-mapDiv {
   color: #006474;
}

.cal-btn {
   width: inherit;
   background-color: #00A9C5;
   color:white;
}
.work-btn {
   width: inherit;
   background-color: #00A9C5;
   color:white;
}
.acc-btn {
   width: inherit;
   background-color: #00A9C5;
   color:white;
}
.map-btn {
   width: inherit;
   background-color: #00A9C5;
   color:white;
}

.app-title{
   font-size: var(--lumo-font-size-xxl);
   line-height: var(--lumo-size-l);
   margin: 0 var(--lumo-space-m);
   color: #006474;
}
.dhc-logo-weiss{
   height: 90px;
   padding-top: 30px;
   padding-left: 20px;
   padding-bottom: 10px;
}
.main-page-hLayout{
   background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),url("themes/mytodo/images/dhc1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;

}

:host(.room-grid) [part="row"] {
   max-height: 80px;
}
#final-hover-div{
   display: flex;
   flex-direction: column;
   width: max-content;
}
#hover-div{
  display: none;
}
vaadin-app-layout {
   --_vaadin-app-layout-navbar-offset-size: 0px !important;
}
#calendar-view{
   display: flex;
   flex-direction: column;
}
#time-control-cal-view{
   height: inherit;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

}
#control-cal-view{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-top: 45px;
   height: 12vh;
   margin-left: 50px;
   margin-right: 50px;
}
#entry-control-cal-view{
   height: inherit;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.box1{
   background-color: #00A9C5;
   height: 20px;
   width: 20px;
}
.box2{
   background-color: #006474;
   height: 30px;
   width: 20px;
}
#map-view{
   margin-top: 50px;
   height: 100vh;
   display: flex;
   flex-direction: column;
}
#first-drop-t{
   border: 3px #006474;
   height: 90px;
   width: 90px!important;
   background-color: rgb(246 247 249);
}
#toggle-edit-series{
   display: flex;
   flex-direction: column;
   align-items: baseline;
   color: #00A9C5;
}
#edit-singular-entry-btn{
   border: 2px #0497b4 solid;
   color: #0497b4;
}
#account-info{
   margin-top: 43px;
}

#edit-btns-account{
   display: flex;
   flex-direction: row;
}
#logout-btn{
   background-color: white;
   color: #00A9C5;
   margin-left: 20px;
}
#div-user-details-account{
   display: flex;
   flex-direction: column;
}
#div-profile-info-acc {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

}
#title-logged-user{
   margin-top:2px;
   margin-bottom: 0px;
   padding-left: 10px;
}
#notif-new-pw{
   width: min-content;
   height: min-content;
}
#new-pw-layout{
   align-items: center;
   justify-content: center;
}
#reset-pw-layout{
   align-items: center;
   justify-content: center;
}
#form-layout-new-pw{
   max-width: 400px;
}
.current-reservation{
   background-color: #A4CEDA;
}
#total-price{
font-weight: bold;
   color: coral;
   text-align: end;
}
.checkout-body{
   margin-top: 108px ;
   display: flex;
   flex-direction: column;
   padding-left: 129px;
}

