[part~='drawer']{
    background-color: #00A9C5;
}
[part='navbar']{
    background-color: rgba(0, 169, 197, 0)!important;
}
[part='navbar']::before{
    background-color: rgba(0, 169, 197, 0) !important;

}
vaadin-app-layout {
    --_vaadin-app-layout-navbar-offset-size: 0px !important;
}