[part='icon']::before {
   color: rgb(0 169 197);
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
}
[part='icon']::before {
    color: rgb(0 169 197);
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
}

[part='icon']:hover::before{
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    color: hsl(189deg 100% 39%);
}