#checkout-title{
    color: #bc64e8 !important;
}

#checkout-body{
    display: flex;
    padding-left: 129px;
}
#crop-image-div{
    width: 100%;
}
#subtitle-reservation{
    color: #707070;
}
.h3-checkout{
    font-weight: bold;
    color: #707070;
    font-size: 16px;
    padding-right: 5px;
}
#res-details-div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
#grey-div{
    background-color: #F6F7F9;
    padding: 27px;
}
p{
    font-size: 15px;
    color: #707070;
}
#text{
    font-size: 15px;
    color: #707070;
}
#text-important{
    font-size: 15px;
    color: #707070;
}
#payment-layout{
    width: 70% !important;
    background-color: #F6F7F9;
    padding-top: 105px;
    padding-left: 34px;
    padding-right: 34px;
}
#reservation-layout{
    padding-top:55px;
    padding-right: 8vw;
}
#subtitle-payment{
    margin-top: 75px;
    color: #707070;
}
#twint-image{
    width: 110px;
}
#div-blue-resume{
    width: inherit;
    min-width: 100%;
    background-color: #00a9c5;

}
#resume-details-div{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15%;
}
#image-checkout{
    object-fit: cover;
    height: 200px;
    width: inherit;
}
#title-p{
    padding-left: 15px;
    color: white;
    font-weight: bold;
}
#buttons-div{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}
#twint-method-div{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}
#twint{

}
.white-p{
    color: white;
}
#title-obj-div{
    display: flex;

}
#cancel-btn{
    width: 100px;
}
#pay-btn{
    width: 100px;
}
#blue-total-div{
    background-color:#00a9c5;
    width: inherit;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}
#total-price-p{
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-self: center;
    padding-right: 30px;
}
#title-total-p{
    color: white;
    font-weight: bold;
    padding:15px
}
#notif-btns-div{
    display: flex;
    justify-content: end;
}
#notif-stay-btn{
    margin-right: 30px;
}
twint-radio-btn{
    display: flex;
    align-self: center;

}
#res-dates-div{
    max-width: 60%;
}
#res-obj-div{
    padding-left: 35px;
}