
#content-div-unsuccessfull{
    border: 3px solid #00a9c5;
    box-shadow: 2px 5px 10px 2px rgba(0,0,0,0.27);
    border-radius: 5px;
    width: 300px;
    height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#text-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.h3-title{
    display: flex;
    align-self: center;
    font-weight: bold;
    font-size: 17px;
    margin: 0px;
    color: #00a9c5;
    font-weight: bold;
}
#h3-details-title-unsuccessfull{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
#accordion{
    padding-left: 20px;
    padding-right: 20px;
}
#btn-p{
    display: flex;
    justify-content: center;
}
#btn-div-un{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.un-btn{
    width: 90px;
}
#icon{
    width: 50px;
    height: 50px;
    color: #FF0008;
}
#email-info-div{
    width: 300px;
}
#payment-title{
    color: #FF0008;
}
#try-again{

}