#layout{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
}
#reservation-img{
    height: 100px;
    object-fit: cover;
    width: 300px;
}
#content-div{
    border: 3px solid #00a9c5;
    box-shadow: 2px 5px 10px 2px rgba(0,0,0,0.27);
    border-radius: 5px;
    width: 300px;
}
#text-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.h3-title{
    display: flex;
    align-self: center;
    font-weight: bold;
    font-size: 17px;
    margin: 0px;
    color: #00a9c5;
    font-weight: bold;
}
#h3-details-title{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
#accordion{
    padding-left: 20px;
    padding-right: 20px;
}
#btn-p{
    display: flex;
    justify-content: center;
}
#btn-div{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
#btn{
    width: 130px;
}
#icon-success{
    width: 50px;
    height: 50px;
    color: #11BE22;
}
#email-info-div{
    width: 300px;
}
#payment-title-success{
    color: #11BE22;
}