
#pending-content-div{
    border: 3px solid #00a9c5;
    box-shadow: 2px 5px 10px 2px rgba(0,0,0,0.27);
    border-radius: 5px;
    width: 300px;
    height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#icon-pending {
    width: 50px;
    height: 50px;
    color: #006af5;
}

#payment-title-pending{
    color: #006af5;
}
#progress-bar{
    width: 50%;
}
#p-pending{
    padding-left: 15px;
    padding-right: 15px;
}