#layout{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#qr-code{
    height: 230px;
}

#twint-img{
    width: 180px;
}
#black-price-div{
    background-color: black;
    width: 180px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
}
#redirect-btn{
    width: 180px;
    border: 3px solid #0ABF53;
}
#redirect-p{
    color: #0ABF53;
    font-weight: bold;
}
#price-p{
    color: white;
    font-size: 25px;
    margin: 2px;
    font-weight: bold;
}
#adyen-img{
    height: 15px;
}